@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500&display=swap');

.navbar{
    background-color: #3D74E5;
    box-shadow: 0px 10px 5px rgb(163, 163, 163);
    border-top: 1px rgb(172, 172, 172) solid;
}

.navbar a{
    color:black;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;

    
}

.logo{
    background: #264E86;
}

.logo__texto{
    font-style: italic;
    font-weight: 400;
    font-family: 'Roboto', sans-serif;
}

.btn-outline-success{
    color: #ffffff;
    border-color: #ffffff;
}

.btn-outline-success:hover{
    background-color: #264E86;
    border-color: #264E86;
}

.hero{
    background-color:#aeaeaf;
    box-shadow: 10px 10px 10px rgb(163, 163, 163);
}

.columnas__contenido{
    background-color: #c6c8ce;
    box-shadow: 10px 10px 10px rgb(163, 163, 163);
}

.footer__icono, .icono{
    width:2rem;
    height:2rem;
    margin: 1rem 1rem;
}

.footer {
    background: #4ca4ad;
    border-top: 2px solid #264E86;
    box-shadow: 0px -5px 5px rgb(163, 163, 163);
}