<!DOCTYPE html>
<html lang="es">
<head>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link rel="stylesheet" href="../css/main.css">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />
    <meta name="description" content="Conocé quienes son las personas que llevan adelante DocAssist y buscan mejorar la atención de nuestros pacientes.">
    <meta name="keywords" content="DocAssist, Misión, Porque lo hacemos, Historias Clínicas, nuestro equipo, equipo, Dra Maria Galeno,Dr. Mario Ligano">
    <link rel="icon" type="image/x-icon" href="../img/logoDocAssist.png">
    <title>Quienes Somos los que hacemos DocAssist | Nuestro equipo</title>
</head>
<body>
        <header>
            <div class="logo">
                <div class="container-fluid">
                    <div class="row d-flex align-items-center">
                        <div class="col-lg-2 col-md-4 col-sm-4">
                            <img class="logo__img img-fluid p-3" src="../img/logoDocAssist.png" alt="Logo DocAssist">
                        </div>
                        <div class="col-lg-10 col-md-8 col-sm-8">
                            <h2 class="logo__texto text-center p-5 text-light">Ayudando a Médicos y Padres a cuidar la salud de nuestro futuro</h2>
                        </div>
                    </div>
                    </div>
                </div>

            <nav class="navbar navbar-expand-lg mb-3 bg-primary navbar-dark">
                <div class="container-fluid ">
                  <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                  </button>
                  <div class="collapse navbar-collapse justify-content-between" id="navbarNav">
                    <ul class="navbar-nav">
                      <li class="nav-item me-3">
                        <a class="nav-link" aria-current="page" href="../index.html">Inicio</a>
                      </li>
                      <li class="nav-item me-3">
                        <a class="nav-link active" href="#">Quienes Somos</a>
                      </li>
                      <li class="nav-item me-3">
                        <a class="nav-link" href="./servicios.html">Servicios</a>
                      </li>
                      <li class="nav-item me-3">
                        <a class="nav-link" href="./contacto.html">Contacto</a>
                      </li>
                      <li class="nav-item me-3">
                        <a class="nav-link" href="./ingresar.html">Ingresar</a>
                      </li>
                    </ul>
                    <form class="d-flex right">
                        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                        <button class="btn btn-outline-success" type="submit">Buscar</button>
                    </form>
                  </div>
                </div>
              </nav>
            
        </header>
        <main class="contenedor">
            <h1 data-aos="fade-right" data-aos-duration="1500" contenedor__titulo>Quienes Somos</h1>
            <div class="container mision mt-5 mb-5 p-5">
            <div data-aos="fade-down-right" data-aos-duration="1500" class="row">
                <div class="col-12">
                    <h3 class="seccion">Nuestra Misión</h3>
                </div>
                <div class="col-md-6">
                        <div class="mision__video">
                            <iframe src="https://www.youtube.com/embed/YaJ2MIdyJdo" title="Guia ética" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                        </div>    
                        
                    </div>
                    <div class="col-md-6">
                        <div class="mision__texto">
                            <p>Nuestro compromiso es ayudar tanto a médicos como a pacientes a garantizar la mejor calidad de servicio. Logramos esto mejorando la comunicación entre profesionales y pacientes, mientras mejoramos el procesamiento de la información y asistimos a ambos en entenderla. Sumamos los mejores procesos de control de indicadores a la disciplina medica para aumentar la capacidad de predicción y prevención de los profesionales.</p>
                        </div>
                    </div>
                </div>
            </div>
            <h3 data-aos="fade-right" data-aos-duration="1500" class="seccion">Nuestro Equipo</h3>
            <div class="equipo container ">
                <div class="row justify-content-between flex-md-nowrap">
                    <div data-aos="zoom-in-down" data-aos-duration="1500" class="equipo__member col-md-4">
                        <h3>Dra. Maria Galeno</h3>
                        <img class="img-fluid img-thumbnail" src="../img/quienes somos/ImagenDoctor1.jpg" alt="Foto Dra. Maria Galeno">
                        <p>Medica Neurocirujana, apasionada por el cuidado de sus pacientes y el analisis de datos.</p>
                    </div>
                    <div data-aos="zoom-in-down" data-aos-duration="1500" class="equipo__member col-md-4">
                        <h3>Dr. Mario Ligano</h3>
                        <img class="img-fluid img-thumbnail" src="../img/quienes somos/ImagenDoctor2.jpg" alt="Foto Dr. Mario Ligano">
                        <p>Medico Clinico, miembro de la asociación nacional de clinicas y docente de Semiología en la Facultad de Medicina de la UBA</p>
                    </div>
                </div>
            </div>
        </main>
        <footer class="footer">
            <div class="container-fluid">
              <div class="row justify-content-between">
                <div class="col-auto">
                  <div class="footer__redes">
                      <a href="https://instagram.com"><img class="footer__icono" src="../img/instagram-brands.svg" alt="Logo instagram"></a>
                      <a href="https://twitter.com"><img class="footer__icono" src="../img/twitter-brands.svg" alt="Logo Twitter"></a>
                      <a href="https://youtube.com"><img class="footer__icono" src="../img/youtube-brands.svg" alt="Logo YouTube"></a>
                  </div>
                </div>
                <div class="col-auto">
                  <div class="footer__ycomb">
                      <a href="https://www.ycombinator.com"><img class="footer__icono" src="../img/y-combinator-brands.svg" alt="Logo Y Combinator"></a>
                  </div>
                </div>
        
              </div>
            </div>
        </footer>
<script src="https://unpkg.com/aos@next/dist/aos.js"></script>
<script>
    AOS.init();
</script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
</body>
</html>