<!DOCTYPE html>
<html lang="es">
<head>
    <link rel="stylesheet" href="../css/estilos.css">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DocAssist - Quienes Somos</title>
</head>
<body>
    <div class="grid">
        <header>
            <div class="logo">
                <img class="logo__img" src="../img/logo.png" alt="Logo">
                
                <h1 class="logo__texto">Ayudando a Medicos y Padres a cuidar la salud de nuestro futuro</h1>
            </div>
            <nav class="menu">
                <ul class="menu__lista">
                    <li class="menu__items"><a href="../index.html">Inicio</a></li>
                    <li class="menu__items"><a class="menu__items--selected" href="#">Quienes Somos</a></li>
                    <li class="menu__items"><a href="./servicios.html">Servicios</a></li>
                    <li class="menu__items"><a href="./contacto.html">Contacto</a></li>
                    <li class="menu__items"><a href="./ingresar.html">Ingresar</a></li>
                </ul>
                <div class="menu__busqueda">
                    <form class="menu__form" action="#">
                        <input class="menu__input" type="text" name="busqueda" id="busqueda" placeholder="Buscar">
                        <input class="menu_submit" type="submit" value="Buscar">
                    </form>
                </div>
            </nav>
        </header>
        <main class="contenedor">
            <h2 contenedor__titulo>Quienes Somos</h2>
            <div class="mision">
                <h3 class="seccion">Nuestra Misión</h3>
                <div class="mision__wrapper">
                    <div class="mision__video">
                        <iframe src="https://www.youtube.com/embed/YaJ2MIdyJdo" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                    </div>    
                    <div class="mision__texto">
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Modi deserunt, dolorum, est quae quas cumque aspernatur, voluptatum at voluptate consequatur recusandae necessitatibus voluptates quo tenetur accusantium quia voluptatem esse optio saepe veniam. Eum nesciunt eaque ipsam voluptatem tenetur eius, animi alias nulla inventore laboriosam molestiae quasi iusto odio quae veritatis.</p>
                    </div>
                </div>
            </div>
            <h3 class="seccion">Nuestro Equipo</h3>
            <div class="equipo">
                <div class="equipo__member">
                    <h3>Doctor 1</h3>
                    <img src="../img/quienes somos/Doctor1.jpg" alt="">
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sed facilis suscipit explicabo architecto illo non.</p>
                </div>
                <div class="equipo__member">
                    <h3>Doctor 2</h3>
                    <img src="../img/quienes somos/Doctor2.jpg" alt="">
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sed facilis suscipit explicabo architecto illo non.</p>
                </div>
            </div>
        </main>
        <footer class="footer">
            <div class="footer__redes">
                <a href="https://instagram.com"><img class="footer__icono" src="../img/instagram-brands.svg" alt=""></a>
                <a href="https://twitter.com"><img class="footer__icono" src="../img/twitter-brands.svg" alt=""></a>
                <a href="https://youtube.com"><img class="footer__icono" src="../img/youtube-brands.svg" alt=""></a>
            </div>
            <div class="footer__ycomb">
                <a href="https://www.ycombinator.com"><img class="footer__icono" src="../img/y-combinator-brands.svg" alt=""></a>
            </div>
        </footer>
    </div>
</body>
</html>