.navbar{
    background-color: map-get($colores, navbar);
    box-shadow: 0px 10px 5px map-get($colores, sombra);
    border-top: 1px map-get($colores, gris) solid;
    
    & a{
        color:black;
        font-family: 'Roboto', sans-serif;
        font-weight: 400;
       
    }
}

.btn-outline-success{
    color: #ffffff;
    border-color: #ffffff;
}

.btn-outline-success:hover{
    background-color: map-get($colores, azul);
    border-color: map-get($colores, azul);
}